@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Dongle-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Dongle-Light.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", sans-serif;

$app-bg: #0e1512;
$card: #132d21;
$color-3: rgb(100, 100, 100);
$color-4: #060d2c;
$white: #b1f1cb;
$component-hover: #113b29;
$component-active: #174933;
$btn: #30a46c;
$hover-btn: #33b074;
$border-ring: #2f7c57;
$text-shadow: #3dd68c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
}

body {
  background: $app-bg;
  color: $white;
}
li {
  list-style: none;
}
.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
